<ion-header>
  <ion-toolbar>
    <ion-title>FakeStore</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/cart">
        <ion-icon name="cart" slot="icon-only"></ion-icon>
        <ion-badge color="danger">{{ cartItemCount }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="sort-control">
    <ion-segment [(ngModel)]="sortOrder" (ionChange)="changeSortOrder()">
      <ion-segment-button value="asc">
        <ion-label>Ascendente</ion-label>
      </ion-segment-button>
      <ion-segment-button value="desc">
        <ion-label>Descendente</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="category-selector">
    <ion-item>
      <ion-label position="stacked">Seleccionar categoría</ion-label>
      <ion-select 
        [(ngModel)]="selectedCategory" 
        interface="action-sheet" 
        placeholder="Todas las categorías"
        (ionChange)="onCategoryChange()"
      >
        <ion-select-option [value]="null">Todas</ion-select-option>
        <ion-select-option 
          *ngFor="let category of categories" 
          [value]="category"
        >
          {{ formatCategoryName(category) }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <app-product-list
  [productsList]="productsList"
  ></app-product-list>
</ion-content>
